:root{
    /*
    --main-color: #ac4147;
    --dark-color: #411f2d;
    --light-color: #ffc27f;
    --contrast-color: #f88863;
    --differential-color: #ffe29a;
    */
    --main-color: #3E5D85;
    --dark-color: #050720;
    --light-color: #9BC0D9;
    --contrast-color: #EE6B4D;
    --differential-color: #DFFBFC;
    
}